<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clases | ENERGYM</title>
    <script src="https://kit.fontawesome.com/09b2ffa585.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/styles/app.css">
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.png">
    <link href="https://fonts.cdnfonts.com/css/starzoom-shavian" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/tilt-neon" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body class="fuenteTilt bg-gris">
    <div id="navegacion"></div>

    <div id="preloader" class="fixed inset-0 bg-black flex justify-center items-center">
      <i class="fa-solid fa-spinner text-verde text-6xl animate-spin"></i>
    </div>

    <!--SECCION DE SALONES-->
    <section class="md:ml-40 pt-10">
        <h1 class="text-4xl font-semibold text-center py-10 fuenteStar text-white"><span class="text-verde text-5xl">Editar</span> salon</h1>

        <div class="md:w-2/4 w-screen bg-white my-auto md:p-12 p-6 rounded-2xl mx-auto">
            <p class="notificacion hidden border-2 p-4 text-center rounded-2xl mb-4"></p>

            <form id="form-salon" class="bg-white flex flex-col gap-4 shadow shadow-verde rounded-2xl p-4">
                    <div>
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="nombre-salon">Nombre:</label>
                        <input id="nombre-salon" name="nombre-instructor" type="text" class="h-10 border border-verde rounded-2xl p-4 w-full">
                    </div>
                    <div>
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="capacidad-salon">Capacidad:</label>
                        <input id="capacidad-salon" name="capacidad-salon" type="number" class="h-10 border border-verde rounded-2xl p-4 w-full">
                    </div>
                    <div>
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="descripcion-salon">Descripcion:</label>
                        <input id="descripcion-salon" name="descripcion-salon" type="text" class="h-10 border border-verde rounded-2xl p-4 w-full">
                    </div>
                    <div>
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="equipamiento-salon">Equipamiento:</label>
                        <select id="equipamiento-salon" name="equipo-salon" class="appearance-none border border-verde rounded-2xl w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                            <option selected disabled value="">--Seleccione un equipo</option>
                            <option value="espejos">Espejos</option>
                            <option value="trx">TRX</option>
                            <option value="artmarciales">Artes Marciales</option>
                            <option value="funcionales">Funcionales</option>
                            <option value="bicicletas">Bicicletas estáticas</option>
                        </select>
                    </div>
                    <div>
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="equipo-salon">Ubicacion:</label>
                        <select id="ubicacion-salon" name="ubicacion-salon" class="appearance-none border border-verde rounded-2xl w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                            <option selected disabled value="">--Seleccione una ubicacion</option>
                            <option value="piscina">Piscina</option>
                            <option value="pb">Planta baja</option>
                            <option value="p1">Piso 1</option>
                            <option value="p2">Piso 2</option>
                        </select>
                    </div>
                    <div>
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="status-salon">Status:</label>
                        <select id="status-salon" name="status-salon" class="appearance-none border border-verde rounded-2xl w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                            <option selected disabled value="">--Seleccione un status</option>
                            <option value="habilitado">Habilitado</option>
                            <option value="deshabilitado">Deshabilitado</option>
                        </select>
                    </div>

                    <button type="submit" class="text-white bg-verde p-3 rounded-2xl font-bold transition ease-in hover:bg-verde/80">Guardar</button>
                    <a href="/panel-administrador/" class="text-white bg-red-500 p-3 rounded-2xl font-bold transition ease-in hover:bg-red-400 text-center">Cancelar</a>
            
                </form>

        </div>
    </section>


    <script src="js/editar-salon.js"></script>
    <script src="/components/preloader.js"></script>
    <script src="/components/nav-admin.js"></script>
</body>
</html>