<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios | ENERGYM</title>
    <script src="https://kit.fontawesome.com/09b2ffa585.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/styles/app.css">
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.png">
    <script src="https://unpkg.com/scrollreveal"></script>
</head>
<body>
    <div id="navegacion"></div>

    

    <script src="/components/nav-admin.js"></script>
</body>
</html>