<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ENERGYM | Fitness Club</title>
    <script src="https://kit.fontawesome.com/09b2ffa585.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/styles/app.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.png">
    <link href="https://fonts.cdnfonts.com/css/starzoom-shavian" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/tilt-neon" rel="stylesheet">
    <script src="https://unpkg.com/scrollreveal"></script>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body class="fuenteTilt bg-gris">
    <header id="navegacion"></header>

    <div id="preloader" class="fixed inset-0 bg-black flex justify-center items-center">
      <i class="fa-solid fa-spinner text-verde text-6xl animate-spin"></i>
    </div>

     <!--BANNER-->
    <section class="banner-contacto">
        <div class="bg-black/40 h-full">

            <div class="h-full flex flex-col justify-center items-center text-white py-20 bounce-in-bottom">
                <h1 class="text-4xl md:text-5xl font-bold mb-10 fuenteStar uppercase">contactanos</h1>
                <h2 class="text-2xl md:text-3xl text-white text-center pb-6">Adquiere tus clases de salon con <span class="text-verde font-semibold">ENERGYM</span></h2>
                <p class="text-gray-300 text-xl mb-10 max-w-xl mx-auto text-center">¿Listo para alcanzar tus metas? ¡Contáctanos ahora! Envíanos un mensaje, escríbenos o llámanos. Visítanos en Caracas y consulta nuestros horarios para reservar tu clase. ¡Te esperamos!</p>
            </div>

        </div>
    </section>

    <!--MÁS INFO-->
    <section>

        <div class="flex flex-col justify-center items-center gap-10 py-20 px-4">
            <img src="/images/div-img.png" alt="divisor" class="w-32 md:w-64 cardreveal">
            <div class="grid grid-cols-1 md:grid-cols-3 gap-10 w-full max-w-6xl mx-auto">
                <div class="text-center cardreveal">
                    <i class="fa-solid fa-location-dot text-4xl text-verde mb-4"></i>
                    <h1 class="fuenteStar uppercase text-verde text-2xl py-4">ubicacion</h1>
                    <p class="text-white text-xl">Sede en Avenida Principal de La Urbina, Caracas 1073, Distrito Capital, Venezuela.</p>
                </div>
                <div class="text-center cardreveal">
                    <i class="fa-solid fa-phone text-4xl text-verde mb-4"></i>
                    <h1 class="fuenteStar uppercase text-verde text-2xl py-4">contacto</h1>
                    <p class="text-white text-xl">crisbelgarcia2005@gmail.com <br> +58 412 - 011 44 41</p>
                </div>
                <div class="text-center cardreveal">
                    <i class="fa-solid fa-calendar-days text-verde text-4xl"></i>
                    <h1 class="fuenteStar uppercase text-verde text-2xl py-4">horario de la sede</h1>
                    <p class="text-white text-xl"><b>Lunes a Viernes:</b><br>6:00 am - 10:00 pm <br><b>Sábado y domingo:</b><br>8:00 am - 6:00 pm</p>
                </div>
            </div>
        </div>

    </section>

    <!--UBICACION-->
    <div class="w-full flex flex-col justify-center items-center pt-20">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15692.738101324667!2d-66.82543623626962!3d10.486115367862144!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8c2a57879335f9df%3A0x5b56fa51b4bbd062!2sAvenida%20Principal%20de%20La%20Urbina%2C%20Caracas%201073%2C%20Miranda!5e0!3m2!1ses-419!2sve!4v1747613087094!5m2!1ses-419!2sve" class="w-full md:w-2/3 h-96" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    <!--FORM CONTACTO-->
    <section class="bg-white p-6 rounded-lg shadow-md w-full max-w-md mx-auto my-30 cardreveal">
    <h2 class="text-center text-3xl font-bold mb-6 fuenteStar">Envíanos un Mensaje</h2>
    <form id="formCont"> <div class="mb-4">
            <label class="block text-gray-700 font-bold mb-2" for="nombre">Nombre</label>
            <input type="text" id="nombre" name="nombre" class="w-full p-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-verde" required>
        </div>
        <div class="mb-4">
            <label class="block text-gray-700 font-bold mb-2" for="email">Correo Electrónico</label>
            <input type="email" id="email" name="email" class="w-full p-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-verde" required>
        </div>
        <div class="mb-4">
            <label class="block text-gray-700 font-bold mb-2" for="mensaje">Mensaje</label>
            <textarea id="mensaje" name="mensaje" rows="4" class="w-full p-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-verde" required></textarea>
        </div>
        <button type="submit" class="w-full bg-verde/70 text-white font-bold py-2 px-4 rounded-lg hover:bg-verde/100 transition duration-300">Enviar</button>
        <div id="formMsj" class="mt-4 text-center text-sm font-semibold"></div>
    </form>
</section>

    <footer class="bg-black" id="footer"></footer>
    
    <script src="index.js"></script>
    <script src="/components/nav.js"></script>
    <script src="/components/scrollreveal.js"></script>    <script src="/components/preloader.js"></script>
    <script src="/components/footer.js"></script>
</body>
</html>