<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ENERGYM | Fitness Club</title>
    <script src="https://kit.fontawesome.com/09b2ffa585.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/styles/app.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.png">
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    <header id="navegacion"></header>

    <footer class="bg-black" id="footer"></footer>
    
    <script src="/components/nav.js"></script>
    <script src="/components/footer.js"></script>
</body>
</html>