<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ENERGYM | LOG-IN</title>
    <script src="https://kit.fontawesome.com/09b2ffa585.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/styles/app.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.png">
    <link rel="stylesheet" href="/styles/styles.css">
    <link href="https://fonts.cdnfonts.com/css/starzoom-shavian" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/tilt-neon" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body class="scroll-smooth fuenteTilt bg-gris text-white">

    <div id="preloader" class="fixed inset-0 bg-black flex justify-center items-center">
      <i class="fa-solid fa-spinner text-verde text-6xl animate-spin"></i>
    </div>

    <!-- WELCOME SECTION -->
    <section class="banner-home text-center h-screen">
        <div class="bg-black/40 w-full rounded-lg h-screen flex flex-col justify-center items-center">
            <h1 class="text-6xl font-bold fuenteStar text-verde">¡Bienvenid@ a Energym!</h1>
            <h2 class="text-4xl font-semibold pt-6">¡Tu cuenta ha sido verificada con éxito!</h2>
            <p class="text-xl mt-4">Ya puedes acceder y comenzar a reservar tus clases favoritas.</p>

            <a href="/login" class="mt-6 inline-block bg-verde text-white font-bold py-3 px-8 rounded-3xl hover:bg-green-700 transition">
                Iniciar sesión
            </a>
        </div>
    </section>

    <script src="/components/preloader.js"></script>
    <script src="/components/footer.js"></script>

</body>
</html>